html {
  background: white;
  overflow: hidden;
}
body {
  min-width: 612px;
  padding: 0px;
  background: white;
  overflow: hidden;
  margin: 0px;
}
.hidden {
  display: none;
}
.inactive {
  opacity: 0.2;
  pointer-events: none;
}
.active {
  display: block;
}
.bold {
  font-weight: bold;
}
input {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}
button {
  outline: none;
  color: black;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 3px;
  font-family: Verdana, Geneva, sans-serif;
  background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #f6f6f6 100%);
  border: 1px solid #707070;
}
button:hover {
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  cursor: pointer;
  box-shadow: 0px 0px 3px #707070;
}
button.primary {
  border: 1px solid #707070;
  color: white;
  border: 1px solid #333;
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
}
button.primary:hover {
  box-shadow: 0px 0px 3px #707070;
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 100%, #1c1c1c 100%, #2b2b2b 100%, #111111 100%, #2c2c2c 100%, #000000 100%, #131313 100%);
}
button.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.modal-box {
  font-family: Verdana, Geneva, sans-serif;
  background: white;
  border: 4px solid #7C7C7C;
  box-shadow: 0px 0px 4px #7C7C7C inset;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.modal-box .modal-body {
  border-radius: 4px 4px 0 0;
  padding: 2px 10px 0 10px;
  width: 400px;
  height: 144px;
}
.modal-box .modal-footer {
  border-radius: 0 0 4px 4px;
  padding: 0 10px;
  border-top: 1px solid #c0c0c0;
  overflow: hidden;
  background: #E7F3FD;
}
.modal-box .modal-footer .button {
  float: right;
  margin: 6px 10px 6px 0;
}
.main-view {
  padding-top: 4px;
}
.main-view .resize-container {
  padding: 0 5px;
  min-height: 156px;
}
.main-view .resize-container .resize-selector-container {
  width: 127px;
  height: 127px;
  margin: 2px 4px 10px 2px;
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0 0 15px 15px;
  float: right;
}
.main-view .resize-container .resize-selector-container .close-button {
  width: 18px;
  height: 18px;
  border-radius: 10px;
  cursor: pointer;
  background: url('../images/sprites/close.png');
  position: absolute;
  top: 2px;
  right: 2px;
  display: none;
}
.main-view .resize-container .resize-selector-container .layout-title {
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  font-family: Verdana, Geneva, sans-serif;
}
.main-view .resize-container .resize-selector-container .resize-selector {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 21px;
  border-radius: 4px;
  border: 5px solid #7C7C7C;
}
.main-view .resize-container .resize-selector-container:hover {
  cursor: pointer;
  border: 1px solid #D3E3F7;
  background: -webkit-gradient(linear, left top, left bottom, from(#dcf0f6), to(#f4f8fe));
  -webkit-transition: all 200ms ease-in;
}
.main-view .resize-container .resize-selector-container:hover .layout-1x1 {
  background: url('../images/sprites/layout_1x1_hover.png') !important;
}
.main-view .resize-container .resize-selector-container:hover .layout-1x2 {
  background: url('../images/sprites/layout_1x2_hover.png') !important;
}
.main-view .resize-container .resize-selector-container:hover .layout-1x3 {
  background: url('../images/sprites/layout_1x3_hover.png') !important;
}
.main-view .resize-container .resize-selector-container:hover .layout-2x1 {
  background: url('../images/sprites/layout_2x1_hover.png') !important;
}
.main-view .resize-container .resize-selector-container:hover .layout-2x2 {
  background: url('../images/sprites/layout_2x2_hover.png') !important;
}
.main-view .resize-container .resize-selector-container:hover .layout-3x1 {
  background: url('../images/sprites/layout_3x1_hover.png') !important;
}
.main-view .resize-container .resize-selector-container:hover .layout-default {
  background: url('../images/sprites/layout_default_hover.png') !important;
}
.main-view .resize-container .resize-selector-container:hover .close-button {
  display: block;
}
.main-view .resize-container .resize-selector-container:hover .close-button:hover {
  background: url('../images/sprites/close_hover.png');
}
.main-view .resize-footer {
  border-top: 1px solid #c0c0c0;
  overflow: hidden;
  background: #E7F3FD;
  clear: right;
  font-family: Verdana, Geneva, sans-serif;
}
.main-view .resize-footer .footer-wrap {
  display: inline-block;
  overflow: hidden;
}
.main-view .resize-footer .footer-wrap.monitor-wrap {
  float: left;
  margin: 5px;
}
.main-view .resize-footer .resize-undo {
  margin: 6px 10px 6px 0;
}
.main-view .resize-footer .resize-undo.secondary {
  margin-left: 10px;
}
.main-view .resize-footer #undo-layout {
  margin-left: 2px;
}
.main-view .resize-footer #custom-layout {
  margin: 6px 0 6px 15px;
}
.main-view .resize-footer .checkbox-container {
  font-family: Verdana, Geneva, sans-serif;
  overflow: hidden;
  display: inline-block;
  border-left: 1px solid silver;
  background: #F7F7F7;
  float: right;
}
.main-view .resize-footer .checkbox-container label {
  font-size: 14px;
  display: block;
  padding: 10px 8px 10px 5px;
}
.main-view .resize-footer .checkbox-container label:hover {
  box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
}
.main-view .resize-footer .checkbox-container label:hover input {
  box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
}
.main-view .resize-footer .checkbox-container label input {
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.main-view .resize-footer .checkbox-container label input:focus {
  box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
}
#display-setting-layer {
  min-height: 250px;
  position: relative;
  bottom: 0px;
  margin: 50px;
}
#display-setting-layer .display-entry {
  position: absolute;
  border: 1px solid grey;
}
#display-setting-layer .display-entry.selected {
  background: lightblue;
}
.custom-view .table-container {
  display: inline-block;
  position: relative;
  width: 145px;
  height: 145px;
  left: 15px;
}
.custom-view .table-container .table-label-top {
  position: absolute;
  left: 48px;
  top: 3px;
}
.custom-view .table-container .table-label-left {
  position: absolute;
  top: 69px;
  left: -7px;
  -webkit-transform: rotate(-90deg) translate3d(0, 0, 0);
}
.custom-view .table-container .table-cell-container {
  border: 7px solid #7C7C7C;
  border-radius: 4px;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 25px;
  left: 25px;
}
.custom-view .table-container .table-cell-container canvas {
  background: #B4E2F6;
}
.custom-view .input-container {
  display: inline-block;
  position: relative;
  top: -25px;
  left: 34px;
}
.custom-view .input-container .label-container {
  margin-bottom: 10px;
  overflow: hidden;
}
.custom-view .input-container .label-container label {
  height: 26px;
  float: left;
  margin-right: 11px;
  line-height: 26px;
}
.custom-view .input-container .label-container .custom-value {
  float: right;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #7C7C7C;
  width: 90px;
  outline: none;
  padding: 4px;
}
.custom-view .input-container .label-container .custom-value:focus {
  border: 1px solid #599EFF;
  box-shadow: #599EFF 0px 0px 2px 1px inset;
}
.confirmation-modal .modal-body {
  height: 75px;
  padding-top: 35px;
}
.confirmation-modal .modal-body .warning-sprite {
  width: 40px;
  height: 40px;
  background: url('../images/sprites/warning.png');
  display: inline-block;
  float: left;
  margin-left: 20px;
  margin-right: 10px;
}
.confirmation-modal .modal-body .message {
  width: 304px;
  display: inline-block;
  float: left;
}
.layout-1x1 {
  background: url('../images/sprites/layout_1x1.png') !important;
}
.layout-1x2 {
  background: url('../images/sprites/layout_1x2.png') !important;
}
.layout-1x3 {
  background: url('../images/sprites/layout_1x3.png') !important;
}
.layout-2x1 {
  background: url('../images/sprites/layout_2x1.png') !important;
}
.layout-2x2 {
  background: url('../images/sprites/layout_2x2.png') !important;
}
.layout-3x1 {
  background: url('../images/sprites/layout_3x1.png') !important;
}
.layout-default {
  background: url('../images/sprites/layout_default.png') !important;
}
